/*
Author: Bull Developers
Website: https://bulldevelopers.com/
Contact: support@bulldevelopers.com
File: Icons Css File
*/

// Icons Scss
@import "plugins/icons/materialdesignicons";
@import "plugins/icons/boxicons";
@import "plugins/icons/line-awesome";
@import "plugins/icons/remixicon";